# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
db.sqlite3
media/
staticfiles/

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# React
node_modules/
dist/

# IDE
.vscode/
.idea/